<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeWithAliens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript" >
      window.garvinURL = "<%= image_url('garvin.png') %>";
    </script>
    <script type="text/javascript" >
      window.mysteryURL = "<%= image_url('mystery.jpg') %>";
    </script>
      <script type="text/javascript" >
      window.etURL = "<%= image_url('ET.jpg') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
