<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeWithAliens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script type="text/javascript" >
      window.garvinURL = "<%= image_url('ava1.jpg') %>";
    </script>
    <script type="text/javascript" >
      window.mysteryURL = "<%= image_url('mystery.jpg') %>";
    </script>
      <script type="text/javascript" >
      window.etURL = "<%= image_url('ET.jpg') %>";
    </script>
    <script type="text/javascript" >
        window.LinkedInURL = "<%= image_url('linkedin-3-32.ico') %>";
      </script>
    <script type="text/javascript" >
        window.splash = "<%= image_url('blog_item_02.jpg') %>";
      </script>
    <link rel="stylesheet"
      href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
